@font-face {
  font-family: "Super Bubble";
  src: url(asset/font/Super\ Bubble.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
.menu {
  display: flex;
  gap: 35px;
}
.menu li {
  list-style: none;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  gap: 50px;
}
.navbar img {
  width: 70px;
  height: 70px;
}
.circle {
  width: 800px;
  height: 850px;
  background-color: #ef5124;
  border-radius: 100%;
  position: absolute;
  right: -195px;
  top: -140px;
  z-index: -1;
  display: flex;
  align-items: center;
}
.group-pets {
  width: 50px;
  overflow: hidden;
}
.pet-list {
  display: flex;
  align-items: center;
  width: 50px;
  position: absolute;
  right: 350px;
}
a {
  text-decoration: none;
  color: black;
}
.auth {
  border: 2px solid black;
  border-radius: 20px;
  background: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 180px;
  justify-content: space-between;
}
.auth button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins;
  padding: 3px 7px;
  text-align: center;
}
#btn-login {
  height: 200%;
}
#btn-signup {
  background-color: #ffff;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.mainvw h1 {
  font-family: "Super Bubble";
  color: #ef5124;
  width: 450px;
  font-size: 32px;
}
.mainvw {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-left: 150px;
  gap: 30px;
}
.btn-Shopnow {
  width: 170px;
  border-radius: 50px;
  background: #1b333c;
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 500;
}
.slogan {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#info {
  height: 100px;
  width: 100%;
  background-color: #ef5124;
  margin-top: 224px;
  position: absolute;
  display: flex;
  gap: 300px;
}
.discount,
.promo {
  height: 194px;
  width: 159px;
  background-color: #ffffcd;
  position: relative;
  top: -90px;
  margin-left: 80px;
}
.discount img {
  position: absolute;
  top: -150px;
  left: -80px;
}
.promo img {
  position: absolute;
  top: -70px;
  right: -60px;
}
.discount-info {
  display: flex;
  align-items: center;
  margin-top: 99px;
}
.discount-container {
  /* position: absolute; */
  width: 100%;
  height: 200px;
  bottom: 0;
}
.about {
  display: flex;
  align-items: center;
  font-family: Poppins;
  color: #fff;
  gap: 80px;
}
.legs {
  position: absolute;
  left: 700px;
  top: 350px;
}

.container {
  margin-top: px; /* Menambahkan margin top jika diperlukan */
  padding-bottom: 20px; /* Menambahkan padding bottom untuk memberi ruang di bagian bawah */
}

.aboutUs h1 {
  text-align: end;
  padding: 20px;
  font-family: Super Bubble;
  margin-top: 270px;
  margin-right: 300px;
}

.aboutUs p {
  font-family: Poppins;
  line-height: 1.6;
  text-align: justify;
  padding-right: 0px;
}

.aboutUs img {
  height: 65vh;
  height: 65vh;
  justify-content: center;
  padding-left: 50px;
  margin-bottom: 100px;
}

